# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Sql
4. java

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Demonstrate simple arithmetic expressions in Python  
- Use Markdown to structure a notebook  
- Create tables and lists in Markdown

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. numpy
3. Matplotlib
4. Scikit-learn

| Data Science Tools |
|--------------------|
| Jupiter Notebook   |
| R studio           |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Bidhan Subba Samba